.container {
  color: rgb(45, 45, 45);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.file-tree-container {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  border: 1px solid transparent;

  &.focus {
    border: 1px solid rgba(22, 119, 255, 0.745);
  }
}

@fileItemRowGap: 2px;

.indent {
  position: relative;
  width: 4px;
  margin-right: 0.5em;
  height: 22px;
  flex: 0 0 auto;

  &::before {
    position: absolute;
    content: '';
    width: 1px;
    left: 6px;
    top: -@fileItemRowGap;
    bottom: -@fileItemRowGap;
    background-color: #d9d9d9;
  }

  &.highlight {
    &::before {
      background-color: #bdbdbd;
    }
  }
}

.file-item {
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: (@fileItemRowGap - 1px) 8px;
  height: 24px;

  cursor: pointer;

  border: 1px solid transparent;

  user-select: none;

  &:hover,
  &.selected,
  &.focus {
    background-color: rgba(0, 0, 0, 0.09);
  }

  &.focus {
    border: 1px solid rgba(22, 119, 255, 0.745);
  }

  &.dragging-start {
    color: white;

    .indent {
      visibility: hidden;
    }
  }
}

.expand-icon {
  font-size: 12px;
  margin-right: 4px;

  &.expanded {
    transform: rotate(90deg);
  }
}

.expand-icon-placeholder {
  width: 12px;
  flex: 0 0 auto;
}

.icon {
  font-size: 12px;
  margin-right: 4px;
}

.action-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  padding: @fileItemRowGap 0;
  gap: 4px;
}

.action-icon {
  width: 24px;
  height: 24px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: rgba(217, 217, 217, 0.525);
  }
}

.input {
  background: none;
  border: none;
  appearance: none;
  padding: 0;
  outline: none;
  font-size: inherit;
  color: inherit;
  width: 100%;
  font-family: inherit;
  padding-left: 2px;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  flex: 1 1 auto;
  margin-left: -2px;

  position: relative;

  &.editing::before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: -@fileItemRowGap;
    bottom: -@fileItemRowGap;
    left: 0;
    right: -9px;
    border: 1px solid rgba(22, 119, 255, 0.745);
    pointer-events: none;
  }
}
