.container {
  height: 100vh;
  min-height: 550px;
  display: grid;
  gap: 4px;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-template-rows: 1fr 20vh;
}

.main {
  height: 80vh;
}

.console {
  grid-column-start: 1;
  grid-column-end: -1;
}

.panel-selector-container {
  padding: 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
